@use '../../app/utilities/colour-palette' as *;
@use '../../app/utilities/common';

.tasks {
    padding: 1rem;
    border-radius: 7px;
    overflow: auto;
    background-color: $deep-blue;
    border: 1px solid $blue-grey;

    header {
        @extend %flex-gap-row;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 570px) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    hr {
        margin: 1rem auto;
    }

    span {
        font-size: 15px;
        font-family: monospace;
    }

    a {
        color: $silver;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: $grey;
            @extend %text-decoration;
        }
    }

    section {
        display: flex;
        align-items: center;

        svg {
            margin-left: .4rem;
        }
    }

    section,
    a {
        font-size: .9rem;
    }

    menu {
        @extend %flex-gap-row;
        text-align: end;
    }   
}

.list-empty {
    font-size: 14px;
    font-style: italic;
}
  
button {
    cursor: pointer;
    background-color: $grey;
    color: $black;
    border-radius: 6px;
    padding: 0.35rem 0.8rem;
    font-size: 0.9rem;
    border: 2px solid $grey;
    &:hover, &:active {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
        color: $silver;
        background-color: transparent;
    }
}

.close {
    color: $silver;
    background-color: transparent;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid $grey;
    }
}
  
ul {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    list-style: none;
    flex-direction: column;
    max-height: 50vh;
    overflow: auto;
}
  
@media (min-width: 768px) {
    h2 {
        font-size: 1.25rem;
    }
}

.short-arrow {
    margin-right: 3px;
    transition: all .1s ease-in-out;
}

.short-arrow-rotate {
    transform: rotate(-180deg);
}