@use '../../app/utilities/colour-palette' as *;

%flex-gap {
    display: flex;
    gap: 1rem;
}

.tasks {
    padding: 1rem;
    border-radius: 7px;
    overflow: auto;
    background-color: $deep-blue;
    border: 1px solid $blue-grey;

    header {
        @extend %flex-gap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 0;
    }
    
    menu {
        text-align: end;
    }   
}

.empty {
    font-size: 14px;
    font-style: italic;
}
  
button {
    cursor: pointer;
    background-color: $grey;
    color: $black;
    border-radius: 6px;
    padding: 0.35rem 0.8rem;
    font-size: 0.9rem;
    border: 2px solid $grey;
    &:hover, &:active {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
        color: $silver;
        background-color: transparent;
    }
}

.close {
    margin: 5px;
    color: $silver;
    background-color: transparent;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid $grey;
    }
}
  
ul {
    @extend %flex-gap;
    margin-top: 1rem;
    list-style: none;
    flex-direction: column;
    max-height: 50vh;
    overflow: auto;
}
  
@media (min-width: 768px) {
    h2 {
        font-size: 1.25rem;
    }
}