
$background: #380774;
$text: #25113d;

article {
    padding: 1rem;
    color: $text;
    background-color: #bf9ee5;
    border-radius: 7px;
}

time {
    color: #67537f;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.summary {
    margin: 10px 0;
}

.actions {
    text-align: right;
    & button {
        font: inherit;
        font-size: 0.8rem;
        cursor: pointer;
        background-color: $background;
        color: #decdf2;
        border-radius: 4px;
        padding: 0.3rem 1rem;
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border: 2px solid $background;
        &:hover, &:active {
            background-color: transparent;
            color: $text;
            box-shadow: none;
        }
    }
}
