@use '../../../app/utilities/colour-palette' as *;

article  {
    padding: 1rem;
    background-color: $light-blue;
    border-radius: 7px;
}

time {
    color: $grey;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
}

.summary {
    margin: 15px 0 25px 0;
}

.actions {
    text-align: right;
    
    button {
        cursor: pointer;
        background-color: $deep-blue;
        color: $silver;
        border-radius: 4px;
        padding: 0.3rem 1rem;
        box-shadow: 0px 0px 11px rgba(255, 255, 255, 0.4);
        border: 2px solid $deep-blue;
        &:hover, &:active {
            background-color: transparent;
            border: 2px solid $grey;
            color: $silver;
            box-shadow: none;
        }
    }
}