@use '../../utilities/colour-palette.scss' as *;
@use '../../utilities/common.scss';

article  {
    padding: 1rem;
    background-color: $light-blue;
    border-radius: 7px;
}

time {
    color: $grey;
    font-size: 13px;
    font-style: italic;
    
    @extend %text-decoration;

    span {
        font-family: monospace;
    }
}

.summary {
    margin: 15px 0 28px 0;
}

.actions {
    @extend %flex-gap-row;

    button:first-of-type {
        background-color: transparent;
        border: 2px solid transparent;
        box-shadow: none;
    }
    
    button {
        color: $silver;
        cursor: pointer;
        border-radius: 4px;
        padding: 0.3rem 1rem;
        
        background-color: $deep-blue;
        box-shadow: 0px 0px 11px rgba(255, 255, 255, 0.4);
        border: 2px solid $deep-blue;

        &:hover,
        &:active {
            background-color: transparent;
            border: 2px solid $grey;
            box-shadow: none;
        }
    }
}