<header appHeader></header>
<main>
    <ul id="users">
        @for (user of users(); track user.id) {
            <li>
                <app-user [user]="user" [isSelected]="user.id === selectedUser()?.id" (select)="onSelectUser($event)" />
            </li>
        }
    </ul>
    @if (selectedUser()) {
        <app-tasks (closeTasks)="onCloseTasks()" [user]="selectedUser()!" />
    }
    @else {
        <h2>Select a user to view and edit their tasks.</h2>
    }
</main>
<footer appFooter></footer>