main {
  width: 90%;
  max-width: 50rem;
  margin: 1.6rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 3rem;

  @media (max-width: 768px) {
    gap: 1rem;
  }
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
  min-width: 220px;
  width: 100%;
}


@media (min-width: 768px) {
  main {
    margin: 4rem auto;
    grid-template-columns: 1fr 3fr;
  }

  #users {
    flex-direction: column;
  }

  #fallback {
    font-size: 1.5rem;
    text-align: left;
  }
}