
.ti-kanw-Thee-mou {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 1.6rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 3rem;
}

aside {
  min-width: 220px;
  width: 100%;
}

@media (min-width: 890px) {
  main {
    margin: 3.5rem auto;
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (max-width: 890px) {
  main {
    gap: 2rem;
  }
  aside {
    display: flex;
    overflow: auto;
  }
}
