<div class="backdrop"></div>
<dialog open>
    <h2>New task for {{ user()!.name }}</h2>
    <hr>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" formControlName="title" />

        <label for="summary">Summary</label>
        <textarea id="summary" rows="5" name="summary" formControlName="summary"></textarea>
        
        <label for="due-date">Due Date</label>
        <input type="date" id="due-date" name="due-date" formControlName="date"/>
        @if (form.invalid) {
            <div class="form-error-message-box">{{ formErrorMessage() }}</div>
        }
        <div class="actions">
            <button routerLink="../" type="button">Cancel</button>
            <button type="submit">Create</button>
        </div>
    </form>
</dialog>