<div class="backdrop"></div>
<dialog open>
    <h2>New task for {{ user()!.name }}</h2>
    <hr>
    <form (ngSubmit)="onSubmit()">
        <label for="title">Title</label>
        <input [(ngModel)]="taskTitle" type="text" id="title" name="title" />

        <label for="summary">Summary</label>
        <textarea [(ngModel)]="summary" id="summary" rows="5" name="summary"></textarea>

        <label for="due-date">Due Date</label>
        <input [(ngModel)]="date" type="date" id="due-date" name="due-date" />
        @if (formErrorMessage()) {
            <div class="form-error-message-box">{{ formErrorMessage() }}</div>
        }
        <div class="actions">
            <button (click)="onCloseAddTaskPanel()" type="button">Cancel</button>
            <button type="submit">Create</button>
        </div>
    </form>
</dialog>