@use '../../../app/utilities/colour-palette' as *;

$error: rgb(222, 81, 81);

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
}

dialog {
    width: 90%;
    max-width: 30rem;
    background-color: $deep-blue;
    border-radius: 7px;
    overflow: hidden;
    padding: 1rem;
    top: 8rem;
    margin: auto;
    border: 2px solid $blue-grey;
    color: $silver;

    @media (min-width: 768px) {
        padding: 2rem;
    }
}

hr {
    margin-bottom: 10px;
}

.form-error-message-box {
    color: $error;
}

label {
    font-size: 1rem;
    margin-bottom: 3px;
    color: $silver;
    &::after {
        content: "*";
        margin-left: 2px;
        font-size: 1.4rem;
        font-weight: 200;
        color: $error;
    }
}

input,
textarea {
    margin-bottom: 10px;
    color: $deep-blue;
    width: 100%;
    font: inherit;
    padding: 0.21rem 0.7rem;
    border-radius: 4px;
    border: none;
    background-color: $grey;
    resize: none;
    &:focus {
        outline: none;
    }
}

.actions {
    margin: 1rem 0 0;
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
}

button {
    font: inherit;
    cursor: pointer;
    padding: 0.35rem 1.25rem;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid transparent;

    &[type="button"] {
        color: $silver;
        &:hover,
        &:active {
            color: $silver;
            border: 2px solid $grey;
        }
    }

    &[type="submit"] {
        background-color: $grey;
        color: $deep-blue;
        &:hover,
        &:active {
            box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
            background-color: transparent;
            color: $silver;
            border: 2px solid $grey;
        }
    }
}